    @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
    
    :root{

    /* root é a caixinha de variáveis */
    --cor-de-fundo:#a9c5ec;
    --texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}
img{
    width: 10%;

}


 header{
    display: flex;
    align-items: center;
 }

.img-intro{
    width: 20%;
    
 }
 .intro{
    display: flex;
    border: 4px solid #e5f4f9;
    border-radius: 30px;
 }

 #equipe{
    display: grid;
    grid-template-columns: 40% 40% 40%;
    text-align: center;
    padding: 20px 0;
 }

 .foto-equipe{
    width: 20%;
 }

 header a{
   color: aqua;
   text-decoration: none;
 }
 
 .footer{
   background-color: pink;
 }