:root{
    /* root é a caixinha de variáveis */
    --cor-de-fundo:#a9c5ec;
    --texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}
img{
    widht: 10%;

}


 header{
    display: flex;
    align-items: center;
 }

.img-intro{
    width: 20%;
 }

 .intro[
 display: flex;
 ]